{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

<div class="site-header-content outer{{#match @custom.header_style "Left aligned"}} left-aligned{{/match}}{{#unless @custom.show_publication_cover}}{{#match @custom.header_style "Hidden"}} no-content{{/match}}{{/unless}}">

    {{#if @custom.show_publication_cover}}
        {{#if @site.cover_image}}
            {{!-- This is a responsive image, it loads different sizes depending on device
            https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433 --}}
            <img class="site-header-cover"
                srcset="{{img_url @site.cover_image size="s"}} 300w,
                        {{img_url @site.cover_image size="m"}} 600w,
                        {{img_url @site.cover_image size="l"}} 1000w,
                        {{img_url @site.cover_image size="xl"}} 2000w"
                sizes="100vw"
                src="{{img_url @site.cover_image size="xl"}}"
                alt="{{@site.title}}"
            />
        {{/if}}
    {{/if}}

    {{#match @custom.header_style "!=" "Hidden"}}
        <div class="site-header-inner inner">
            {{#match @custom.navigation_layout "Logo on cover"}}
                {{!-- {{#if @site.logo}}
                    <img class="site-logo" src="{{@site.logo}}" alt="{{@site.title}}">
                {{else}} --}}
                    <h1 class="site-title" style="color: #D51F23;font-size: 2.4rem;font-weight: 700;text-transform: uppercase;">{{@site.title}}</h1>
                {{!-- {{/if}} --}}
            {{/match}}
            {{#if @site.description}}
                <p class="site-description" style="color:#242A4B;font-size: 4.8rem;font-weight: 700;">{{@site.description}}</p>
            {{/if}}
        </div>
    {{/match}}

</div>

{{!-- The main content area --}}
<main id="site-main" class="site-main outer">
    <div class="inner">
        <div class="grid grid-cols-2 gap-4 focus-news mt-4">
            <div class="news" style="background-color: #EBEEF3; padding: 24px;">
                <div class="news-header flex gap-4 align-center">
                    {{> "icons/arrow-right"}}
                    <div class="text-4xl font-semibold">Tin tiêu điểm</div>
                </div>
                
                <div class="post-feed">
                    {{#foreach posts}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                    {{> "post-card"}}
                    {{/foreach}}
                </div>
                {{pagination}}
            </div>
            <div class="stock">
                <iframe
                    src="https://widget.dnse.com.vn/index-widget?theme=white&indexes=VNINDEX%2CVN30%2CHNX30%2CHNX%2CUPCOM"
                    frameborder="0" 
                    width="100%"
                    height="600px"/>
            </div>
        </div>
        <div>
             {{> "icons/arrow-right"}}
            Gương mặt doanh nhân Việt
        </div>
        
        <div>
             {{> "icons/arrow-right"}}
            Sự kiện kinh tế Việt Nam
        </div>
         <div>
             {{> "icons/arrow-right"}}
            Tin tức VTV Index
            <div class="post-feed">
                    {{#foreach posts}}
                    {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
                {{> "post-card"}}
                {{/foreach}}
            </div>
            {{pagination}}
        </div>
    </div>
</main>
