<link rel="stylesheet" href="{{asset " custom/breadcrumb-navigation.css"}}">

{{!< default}} {{!-- The tag above means: insert everything in this file into the {body} tag of the default.hbs template
    --}} {{#post}} {{!-- Everything inside the #post block pulls data from the post --}} <div class="inner">
    <div class="post breadcrumb-navigation">
        <a href="{{@site.url}}" class="home">Trang chủ</a>
        {{> "icons/chevron-right"}}

        <span class="tag-item">
            {{#primary_tag}}
            <a href="{{url}}">{{name}}</a>
            {{/primary_tag}}
        </span>
        {{> "icons/chevron-right"}}
        <span class="tag-name">
            <span>{{title}}</span>
        </span>
    </div>
    </div>
    
    <main id="site-main" class="inner post-content">
        <article>
            <header>
                <h1 class="post__heading">{{title}}</h1>
                <div class="post-calendar">
                   {{>"icons/post-calendar"}} {{!-- This tag outputs the date of the post --}}
                    <span>{{vn_date published_at}}</span>
                </div>
                {{#match @custom.post_image_style "!=" "Hidden"}}
                {{#if excerpt}}
                <div class="post__excerpt">
                    {{!-- This tag outputs the excerpt of the post --}}
                    {{excerpt}}
                {{/if}}
                {{#if feature_image}}
                <figure class="article-image">
                    {{!-- This is a responsive image, it loads different sizes depending on device
                    https://medium.freecodecamp.org/a-guide-to-responsive-images-with-ready-to-use-templates-c400bd65c433
                    --}}
                    <img srcset="{{img_url feature_image size=" s"}} 300w, {{img_url feature_image size="m" }} 600w,
                        {{img_url feature_image size="l" }} 1000w, {{img_url feature_image size="xl" }} 2000w"
                        sizes="(min-width: 1400px) 1400px, 92vw" src="{{img_url feature_image size=" xl"}}"
                        alt="{{#if feature_image_alt}}{{feature_image_alt}}{{else}}{{title}}{{/if}}" />
                    {{#if feature_image_caption}}
                    <figcaption>{{feature_image_caption}}</figcaption>
                    {{/if}}
                </figure>
                {{/if}}
                {{/match}}

            </header>
            <section class="gh-content">
        {{content}}
    </section>

            {{#if comments}}
            <section class="">
                {{comments}}
            </section>
            {{/if}}

        </article>
    </main>

    {{!-- Read more links, just above the footer --}}
    {{#if @custom.show_recent_posts_footer}}
    {{!-- The {#get} helper below fetches some of the latest posts here
    so that people have something else to read when they finish this one.

    This query gets the latest 3 posts on the site, but adds a filter to
    exclude the post we're currently on from being included. --}}
    {{#get "posts" filter="id:-{{id}}" limit="3" as |more_posts|}}

    {{#if more_posts}}
    <aside class="read-more-wrap outer">
        <div class="read-more inner">
            {{#foreach more_posts}}
            {{> "post-card"}}
            {{/foreach}}
        </div>
    </aside>
    {{/if}}

    {{/get}}
    {{/if}}

    {{/post}}