<a class="featured-news" href="{{url}}">
    <div class="featured-news__image">
        <img src="{{image}}" alt="{{title}}" />
    </div>
    <div class="featured-news__content">
       {{>"date" date=date}}
        <h2 class="featured-news__title">{{title}}</h2>
        <p class="featured-news__description">{{description}}</p>
    </div>
</a>

<style>
    .featured-news__content {
        margin-right: 10px;
    }
    .featured-news {
        display: flex;
        gap: 10px;
        align-items: start;
        height: 100%;
    }

    .featured-news time {
        font-size: 14px;
        color: #696868;
    }

    .featured-news__image {
        min-width: 250px;
        max-width: 250px;
        height: 100%;
    }

    .featured-news__image img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 6px;
    }

    .featured-news__title {
        margin: 0;
        font-size: 20px;
        color: #262626;
        margin: 10px 0;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .featured-news__description {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 5px;
        margin-bottom: 0;
        font-size: 14px;
        color: #696868;
    }
</style>